.Slide{
	height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: transform 400ms ease;  

	&[data-state="inactive"]{
		transform: translateX(-100%);
		transition: none;
	}

	&[data-state="active"]{
		transform: translateX(0%);
	}

	&[data-status="before"] {
		transform: translateX(-100%);
	}
	
	&[data-status="after"] {
		transform: translateX(100%);
	}
	
	&[data-status="becoming-active-from-before"] {
		transform: translateX(-100%);
		transition: none;
	}
	
	&[data-status="becoming-active-from-after"] {
		transform: translateX(100%);
		transition: none;
	}
}

.Image{
	background-size: cover;
	background-position: center;
	border-bottom: 1px solid var(--border-color);
}

.Title{
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: stretch;
}

.Content{
	border-left: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	padding: 2rem;

	h3{
		margin-top: 0;
	}
}

.Text{
	margin-top: 2rem;
}

.Buttons{
	flex: 1 1 auto;
	display:grid;
	grid-template-columns: 1fr 1fr;
}

.Button{
	appearance: none;
	border: 0 none;
	border-left: 1px solid var(--border-color);
	font-size: 2rem;
	color: var(--color-light);
	cursor: pointer;
	background-color: var(--color-dark);
}